@import "../../../styles/settings.scss";



.root {
  color: white;

  .splash{
    background-color: $grey;
    height: 195px;
    display: flex;
    justify-content: center;
    align-items: center;
    .headline{
      font-size: 50px;
    }
    p{
      display: flex;
      letter-spacing: 15px;
      font-size: 19px;
    }
  }
  .discount{
    color: $orange;
    padding-inline: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    margin-inline: 13px;
  }

}
.belt{
  background-color: $veryLightGrey;
  height: 50px;
  display: flex;
  align-items: center;
  span{
    margin-inline: 15px;
  }
  .destination{
    color: $orange;
    font-weight: bold;
  }
}
