@import "../../../styles/settings.scss";

.root {
  padding: $base-padding 0;
}

.product {
  display: flex;
  flex-direction: row;
  border: $productpage-section-border solid 1px;
  padding: 12px;
  padding-bottom: 45px;
}

/* Main Photo */

.photo {
  width: 437px;
  height: 612px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .bigPhoto {
    width: 100%;
    height: 493px;
    background-color: $productpage-photo;
    position: relative;

    .resize {
      border: $productpage-border-resize-icon solid 1px;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 10px;

      .resizeIcon {
        font-size: 16px;
        justify-content: center;
      }
    }
  }

  /* Photo list */

  .listPhoto {
    width: 411px;
    height: 105px;
    display: flex;;
    gap: 16px;
    justify-content: space-around;
    position: relative;

    .smallPhoto {
      width: 84px;
      height: 104px;
      background-color: $productpage-photo;
      margin-top: 15px;
    }

    .arrowPhoto:hover, .arrowPhoto:active {
      background-color: $productpage-arrow-background-hover;
      border: $productpage-arrow-background-hover 1px solid;
    }

    .arrowRight {
      position: absolute;
      right: -6%;
      bottom: 5%;
      transform: translate(-50%, -50%);
    }

    .arrowLeft {
      position: absolute;
      left: 1.5%;
      bottom: 5%;
      transform: translate(-50%, -50%);
    }
  }
}

.content {
  padding-left: 32px;
  margin: 0;

  /* Header */

  .header {
    display: flex;
    position: relative;

    .title {
      font-size: 22px;
      color: $productpage-header;
      font-weight: 600;
      width: 623px;
      margin-bottom: 12px;
    }

    .changeArrowRight {
      position: absolute;
      right: 0;
    }

    .changeArrowLeft {
      position: absolute;
      right: 5.5%;
    }

    .arrow:hover, .arrow:active {
      background-color: $productpage-arrow-background-hover;
      border: $productpage-arrow-background-hover 1px solid;
    }
  }

  /* Reviews */

  .reviews {
    display: flex;
    align-items: center;

    .stars {

      a {
        color: $productpage-stars;;
      }
    }

    .counterReviews, .addReviews {
      font-size: 12px;
      color: $productpage-add-counter-reviews;
      font-weight: 400;
      align-items: center;

      p {
        margin-bottom: 0;
      }
    }

    .stars, .counterReviews, .addReviews {
      margin-right: 12px;
      margin-bottom: 10px;
    }
  }

  /* Price */

  .price {
    max-width: 150px;
    display: flex;
    align-items: baseline;
    margin-top: 18px;
    .standardPrice {
      font-size: 15px;
      color: $productpage-standard-price;
      font-weight: 300;
      margin-right: 10px;
      align-items: center;
    }

    .specialPrice {
      color: $productpage-special-price;
      background-color: $productpage-background-price;
      font-size: 20px;
      padding: 9px;
      font-weight: 600;

      h2 {
        margin: 0;
      }
    }

    .specialPrice, .standardPrice {
      margin-bottom: 15px;
    }
  }

  /* Buttons */

  .buttons {
    margin-top: 15px;

    .addToCart {
      margin-right: 7px ;
      padding: 9px 14px;
      font-weight: 600;
    }
  }

  /* Quantity */

  .quantity {
    margin: 15px 0;
    display: flex;
    height: 30px;
    align-items: baseline;

    .icon:hover, .icon:active {
      color: $productpage-quantity-hover-active;
      background-color: $productpage-quantity-background;
      border-color: $productpage-quantity-hover-active;
    }

    p {
      font-size: 14px;
      color: $productpage-quantity-title;
      font-weight: 500;
      margin-right: 27px;
    }

    .items {
      border: $productpage-items-border solid 1px;
      margin-right: 7px;

      p {
      padding: 7px 30px;
      margin: 0;
      text-align: center;
      }
    }
  }

  /* Quick Overview */

  .overview {
    margin-top: 15px;

    .text {
      max-width: 582px;
    }
  }

  /* Product Details */

  .productDetails {
    margin-top: 20px;

    .availability, .categoryProduct {
      display: flex;

      .sectionTitle {
        min-width: 95px;
      }

      .description {
        align-items: baseline;
      }
    }
  }

  /* Social Media */

  .socialMedia {
    display: flex;

    .socialMediaIcon {
      display: flex;
      border: $productpage-social-media-border solid 1px;
      height: 40px;
      margin-right: 7px;
      margin-top: 30px;
      color: $productpage-btn-text;
      text-decoration: none;

      .brandIcon {
        font-size: 16px;
        margin: auto 9px;
        align-items: baseline;
      }

      p {
        margin: auto 0;
        margin-right: 9px;
        font-size: 13px;
        font-weight: 400;
      }
    }

    .btnHover:hover, .btnHover:active {
      border: none;

      p {
        color: $productpage-hover-social;
      }

      .brandIcon {
        color: $productpage-hover-social;
      }
    }

    /* Facebook */
    .facebook {
      color: $productpage-facebook;
    }

    .btnFacebook:hover, .btnFacebook:active {
      background-color: $productpage-facebook;
    }
    /* Google Plus */
    .googlePlus {
      color: $productpage-google-plus;
    }

    .btnGooglePlus:hover, .btnGooglePlus:active {
      background-color: $productpage-google-plus;
    }

    /* Twitter */
    .twitter {
      color: $productpage-twitter;
    }

    .btnTwitter:hover, .btnTwitter:active {
      background-color: $productpage-twitter;
    }

    /* Pinterest */
    .pinterest {
      color: $productpage-pinterest;
    }

    .btnPinterest:hover, .btnPinterest:active {
      background-color: $productpage-pinterest;
    }

    /* Linkedin */
    .linkedin {
      color: $productpage-linkedin;
    }

    .btnLinkedin:hover, .btnLinkedin:active {
      background-color: $productpage-linkedin;
    }
  }

  .description {
    font-size: 14px;
    line-height: 25px;
    color: $productpage-description;
    font-weight: 400;
    margin: 0;
  }

  .sectionTitle {
    font-size: 15px;
    line-height: 25px;
    color: $productpage-section-title;
    font-weight: 600;
    margin-right: 15px ;
  }

  .icon {
    padding: 7px 13px;
    margin-right: 6px;
  }

  .line {
    border-bottom: $productpage-line solid 1px;
    max-width: 620px;
  }

  .marginTop {
    padding-top: 15px;
  }
}
