@import "../../../styles/settings.scss";
.stars {
  a {
    text-decoration: none;
    color: $productbox-stars;
  }

  a:hover ~ a {
  @extend %hover-effects;
  color: $productbox-stars;
  }

  a:hover {
    @extend %hover-effects;
    color: $productbox-stars-hover !important;
  }

  &:hover a {
    @extend %hover-effects;
    color: $productbox-stars-hover;
  }

  a.userStars {
    color: $productbox-stars-hover;
  }
}

