$base-padding: 24px;

/* Variable Colors - DO NOT USE OUTSIDE THIS FILE */

$orange: #d58e32;
$darkBlack: #292929;
$black: #2a2a2a;
$nero: rgb(42, 42, 42);
$mostlyBlack: rgba(1, 2, 2, 0.2);
$darkGrey: #363636;
$grey: #434343;
$lightGrey: #b6b6b6;
$veryLightGrey:#e1e1e1;
$superLightGrey: #e2e2e2;
$silver: rgb(224, 227, 237);
$lightSilver: rgb(216, 216, 216);
$greyChateau: rgb(169, 169, 169);
$white: #ffffff;
$lightGrayishBlue: #f4f5f7;
$transparent: transparent;
$grey-border: #b7b7b7;
$shadowGrey: #939393;

/* VARIABLES TO USE IN COMPONENTS */

$primary: $orange;
$text-color: $black;
$header-topbar-bg: $grey;
$header-bg: $darkGrey;
$form-border-color: $darkBlack;

/* Button */
$button-text: $white;
$button-background: $black;
$button-background-active: $black;
$button-icon: $black;
$button-icon-active: $orange;
$button-icon-hover: $black;
$button-icon-border: $black;

/* FeatureBox */
$feature-box-border: $lightGrey;
$feature-box-icon: $white;
$feature-box-background: $white;

/* ProductBox */
$productbox-border: $veryLightGrey;
$productbox-background: $white;
$productbox-background-photo: $lightGrayishBlue;
$productbox-sale: $darkBlack;
$productbox-sale-text: $white;
$productbox-line: $black;
$productbox-stars: $nero;

/* NewFurniture */
$newfurniture-line: $superLightGrey;
$newfurniture-list: $nero;
$newfurniture-list-background: $white;
$newfurniture-list-dott: $veryLightGrey;

/* CompanyClaim */
$company-claim-phone: $lightSilver;
$company-claim-cart-counter: $silver;
$company-claim-cart-icon: $white;

/* Footer */
$footer-claim-bg: $black;
$footer-bg: $darkGrey;
$footer-menu-header: $white;
$footer-hover-underline: $white;
$footer-menu-list: $greyChateau;
$footer-copyright: $greyChateau;
$footer-social-media: $greyChateau;

/* MenuBar */
$menubar-background: $white;
$menubar-shadow: $mostlyBlack;
$menubar-border-top: $white;
$menubar-hover-active-text: $white;

/* TopBar */
$topbar-text: $white;

/* Variable Animation Times */
$animation-time-background: 250ms;
$animation-time-text: 250ms;

/* Animation Placeholder */
%hover-effects {
  transition-property: background-color, color;
  transition-duration: $animation-time-background, $animation-time-text;
}

/* ProductCard */

$productcard-border: 1px solid $lightGrey;
$productcard-info-color: $grey;
$productcard-btn-background: $black;
$productcard-btn-text: $white;

/* Furniture */

$furniture-label: $shadowGrey;
$furniture-border: $grey-border;
