$base-padding: 24px;

/* Variable Colors - DO NOT USE OUTSIDE THIS FILE */

$orange: #d58e32;
$darkBlack: #292929;
$black: #2a2a2a;
$nero: rgb(42, 42, 42);
$mostlyBlack: rgba(1, 2, 2, 0.2);
$darkGrey: #363636;
$grey: #434343;
$approxGrey: #888888;
$suvaGrey: #939393;
$graniteGrey: #676767;
$cerebralGrey: #cccccc;
$lightGrey: #b6b6b6;
$veryLightGrey:#e1e1e1;
$superLightGrey: #e2e2e2;
$silver: rgb(224, 227, 237);
$lightSilver: rgb(216, 216, 216);
$superLightSilver: #cccccc;
$approxSilver: #c2c2c2;
$greyChateau: rgb(169, 169, 169);
$white: #ffffff;
$lightGrayishBlue: #f4f5f7;
$blue: #3B5997;
$dodgerBlue: #4099ff;
$blueAster: #0077b5;
$red: #d62d20;
$darkRed: #c92228;
$transparent: transparent;
$grey-border: #b7b7b7;
$shadowGrey: #939393;
$superShadowGrey: #d7d7d7;
$semiDarkGrey: #a0a0a0;
$darkerGrey: #676767;

/* VARIABLES TO USE IN COMPONENTS */

$primary: $orange;
$text-color: $black;
$header-topbar-bg: $grey;
$header-bg: $darkGrey;
$form-border-color: $darkBlack;

/* Button */
$button-text: $white;
$button-background: $black;
$button-background-active: $black;
$button-icon: $black;
$button-icon-active: $orange;
$button-icon-hover: $black;
$button-icon-border: $black;

/* Stars */
$stars-background: $nero;
$stars-background-hover: $orange;

/* FeatureBox */
$feature-box-border: $lightGrey;
$feature-box-icon: $white;
$feature-box-background: $white;

/* ProductBox */
$productbox-border: $veryLightGrey;
$productbox-background: $white;
$productbox-background-photo: $lightGrayishBlue;
$productbox-sale: $darkBlack;
$productbox-sale-text: $white;
$productbox-line: $black;

/* NewFurniture */
$newfurniture-line: $superLightGrey;
$newfurniture-list: $nero;
$newfurniture-list-background: $white;
$newfurniture-list-dott: $veryLightGrey;

/* CompanyClaim */
$company-claim-phone: $lightSilver;
$company-claim-cart-counter: $silver;
$company-claim-cart-icon: $white;

/* Footer */
$footer-claim-bg: $black;
$footer-bg: $darkGrey;
$footer-menu-header: $white;
$footer-hover-underline: $white;
$footer-menu-list: $greyChateau;
$footer-copyright: $greyChateau;
$footer-social-media: $greyChateau;

/* MenuBar */
$menubar-background: $white;
$menubar-background-hover: $orange;
$menubar-shadow: $mostlyBlack;
$menubar-border-top: $white;
$menubar-hover-active-text: $white;
$menubar-text: $white;
$menubar-text-black: $black;
$menubar-background-black: $black;

/* TopBar */
$topbar-text: $white;

/* ProductPage */
$productpage-photo: $lightGrayishBlue;
$productpage-header: $black;
$productpage-stars: $black;
$productpage-line: $superLightSilver;
$productpage-standard-price: $suvaGrey;
$productpage-special-price: $white;
$productpage-background-price: $black;
$productpage-add-counter-reviews: $graniteGrey;
$productpage-add-to-cart: $primary;
$productpage-quantity-title: $black;
$productpage-quantity-background: $white;
$productpage-quantity-hover-active: $primary;
$productpage-items-border: $black;
$productpage-section-title: $black;
$productpage-description: $graniteGrey;
$productpage-social-media-border: $black;
$productpage-facebook: $blue;
$productpage-google-plus: $red;
$productpage-twitter: $dodgerBlue;
$productpage-pinterest: $darkRed;
$productpage-linkedin: $blueAster;
$productpage-border-resize-icon: $black;
$productpage-arrow-background-hover: $primary;
$productpage-hover-social: $white;
$productpage-btn-text: $approxGrey;
$productpage-section-border: $approxSilver;

/* Variable Animation Times */
$animation-time-background: 250ms;
$animation-time-text: 250ms;

/* Animation Placeholder */
%hover-effects {
  transition-property: background-color, color;
  transition-duration: $animation-time-background, $animation-time-text;
}

/* ProductCard */

$productcard-border: 1px solid $lightGrey;
$productcard-info-color: $grey;
$productcard-btn-background: $black;
$productcard-btn-text: $white;

/* Furniture */

$furniture-label: $shadowGrey;
$furniture-border: $grey-border;
$furniture-line: $black;

/* Product Box Horizontal */

$productboxhorizontal-line:$superShadowGrey;
$productboxhorizontal-description-line: $semiDarkGrey;
$productboxhorizontal-description: $darkerGrey;
$productboxhorizontal-stars: $nero;
$productboxhorizontal-background-photo: $lightGrayishBlue;
$productboxhorizontal-sale: $darkBlack;
$productboxhorizontal-sale-text: $white;
$productboxhorizontal-name-text: $orange;

/* BrandBar */
$brandbar-border: $cerebralGrey;
$brandbar-arrow: $white;
$brandbar-arrow-background: $black;

/* StickyBar */
$stickybar-border: $grey;
$stickybar-background: $white;
