@import "../../../styles/settings.scss";

.root {
  background-color: $productbox-background;
  border: 1px solid $productbox-border;
  margin-bottom: 2rem;
  position: relative;

  .photo {
    position: relative;
    background: {
      color: $productbox-background-photo;
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    background-size: cover;
    overflow: hidden;
    align-items: flex-end;

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $productbox-sale;
      border-radius: 50%;
      color: $productbox-sale-text;
      padding: 30px 15px 5px 15px;
    }

    .buttons {
      display: none;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      bottom: 0;
    }
    img{
      object-fit: cover;
      padding-top: 0;
      background-size: cover;
      width: 260px;
      height: 260px;
    }
  }

  &:hover{
    .buttons {
      display: flex;
    }
    .actions{
      .price{
        :last-child{
          @extend %hover-effects;
          background-color: $primary;
        }
      }
    }
  }

  .content {
    text-align: center;
    padding: 20px;
    h5 {
      color: $primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid $productbox-line;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $primary;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .favoriteIcon {
      color: $productbox-favorite-icon;
    }
  }

  .price{
    display: flex;
    align-items: center;
    .oldPrice{
      display: block;
      padding-right: 5px;
      text-decoration: line-through;
      font-size: 15px;
      color: #a5a5a5;
      font-weight: 300;
      &.active{
        display: none;
      }
    }
  }
}
