@import "../../../styles/settings.scss";


.root {
  padding: $base-padding ;
  .productCard{
    border: $productcard-border;
    ul {
      display: flex;
      margin: 0;
      padding: 0;
      li{
        display: flex;
        list-style: none;
        a{
          color: $text-color;
          text-transform: uppercase;
          text-decoration: none;
          font-weight: 600;
          border-bottom: $productcard-border;
          border-right: $productcard-border;
          padding: $base-padding;
          &.active{
            border-bottom: none;
            color: $primary;
          }
        }
      }
    }

  }
}
