@import "../../../styles/settings.scss";

.root{
  .loginWrapper{
    width: 600px;
    border-top: 5px solid $loginpage-primary;
    margin: 5px 0;
    border-radius: 5px;

  }
  form{
    margin: 40px;
    margin-bottom: 10px;

    label{
      display: block;
      margin-bottom:5px;
      font-weight: 600;
    }
    input {
      border: 1px solid $loginpage-border;
      border-radius: 5px;
      margin-bottom: 10px;
      width: 100%;
    }
    .remember{
      margin-bottom: 20px;
      p{
        display: inline-block;
        margin-right: 5px;
      }
      a{
        color: rgb(54, 54, 219);
      }
    }
    .button{
      text-align: center;
      margin-bottom: 40px;
      a{
        border-radius: 5px;
        color: $loginpage-dark;
        background: $loginpage-button;
        &:hover{
          color: $loginpage-primary;
          background: $loginpage-dark;
        }
      }
    }
  }
}


@media (max-width: 768px){

  .root{
    .loginWrapper{
      width: 470px;
    }
  }
}

@media (max-width: 500px){

  .root{
    .loginWrapper{
      width: 270px;
    }
  }
}
